<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <style>
          input {
              width: 50%;
          }
      </style>
    <form method="post" action="/addItem/stored">
      <label for="image">Image:</label><br />
      <input type="text" id="image" name="image" /><br />
      <label for="url">Url:</label><br />
      <input type="text" id="url" name="url" /><br />
      <label for="category">Category:</label><br />
      <select id="category" name="category">
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
        <option value="unisex">Unisex</option>
      </select><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
